<div class='feed'>
  {{#each sortedMensaheList as |mensahe|}}
    <div class='feed-item'>{{mensahe.body}} <div {{action "upvote"}} class="upvote-button" title="upvote">^</div></div>
  {{/each}}
</div>

{{yield}}