<div class='feed'>
  {{#each sortedMensaheList as |mensahe|}}
    <div class='feed-item'>{{mensahe.body}} <div {{action "upvote" mensahe}} class="upvote-button" title="upvote"><i class="fas fa-sort-up"></i></div></div>
  {{/each}}
</div>

{{yield}}